.comment-box {
    width: auto;
    height: 100px;
    border: 1px solid #000;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
}

.station-name {
    display: inline-block;
    width: 380px;
    
    font-size: x-large;
    overflow-wrap: break-word;
	word-break: keep-all;
}

.station-status {
    display: inline-block;
    font-size: x-large;
    overflow-wrap: break-word;
	word-break: keep-all;
    vertical-align: bottom;
}
